@page
@model IndexModel
@{
    ViewData["Title"] = "Database access has already been done on April 14, 2023 by **** Vishnu Rajendran Pillai";
}

<div class="text-center">
    <h1 class="display-4">Database access has already been done on April 14, 2023 by **** Vishnu Rajendran Pillai</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
